#contact {
    text-align: center;
    background-color: #525252;
    color: white;
  }
  #contact h1 {
    vertical-align: top !important;
    text-align: center;
    color: white;
  }
  #contact .right {
    text-align: right;
  }
  #contact .left {
    text-align: left;
  }
  .fa {
    justify-content: center !important;
    align-items: center !important;
    padding: 10px;
    border-radius: 50px;
    background: #525252;
    transition: all 0s linear;
  }
  .fa:hover {
    cursor: pointer;
    background: #a7a7a7;
  }
  .fa-facebook {
    background: #525252;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }